.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding-top: 20px;
  font-size: large;
}
.App-section {
  display: flex;
  justify-content: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  padding: 5px 0 20px 0;
}

tr {
  color: #5b5757;
}

.results {
  padding-top: 15px;
}

.footer {
  padding-top: 20px;
  text-align: center;
}
.footer > ul {
  list-style: none;
}

.card {
  width: 18rem;
}
.food-div {
  display: flex;
  justify-content: center;
}
.food-master > h3 {
  padding-top: 2em;
  text-align: center;
}
.food-ul {
  padding: 25px 25px 25px 25px;
  height: 15em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 20px;
}
.food-list {
  display: flex;
  justify-content: space-between;
  width: 20em;
  border: 1px solid gray;
  border-radius: 10px;
  align-items: center;
  padding-left: 10px;
}
.reservation-blue {
  background-color: blue;
  color: white;
}

.div-form {
  padding: 1em;
  margin: 0 20em 4em 20em;
  border: 1px solid gray;
  border-radius: 20px;
}

.form-all {
}
.form-all > h2 {
  margin: 2em 0 0 0;
  text-align: center;
}

.customer {
  margin: 40px;
}
